<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title | <%= title %></title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/icon-style.css">
  <link rel="stylesheet" href="/button-style.css">
  <link rel="stylesheet" href="/admin-style.css">
  <script type="module" src="/static_functions/get_genre.js"></script>
  <script type="module" src="/static_functions/get_language.js"></script>
  <script type="module" src="/static_functions/get_platform.js"></script>
  <script type="module" src="/static_functions/admin-create.js"></script>
</head>
<body>
<div>
  <div class="">
    <div class="container">
      <%- include('./partials/nav.ejs') %>
    </div>
  </div>
  <div class="profile">
    <div class="container">
      <form action="">
        <div class="">
          <input id="game_name_to_create" class="" type="text" placeholder="Name" name="name" value="">
          <input type="reset" value="reset">
        </div>
      </form>
      <form action="">
        <div>
          <input id="game_id_to_create" class="" type="text" placeholder="Id of game" name="id" value="#ia">
          <input type="reset" value="reset">
        </div>
      </form>
      <form action="">
        <div>
          <input id="game_price_to_create" class="" type="text" placeholder="Price" name="price" value=" $">
          <input type="reset" value="reset">
        </div>
      </form>
      <form action="" enctype="multipart/form-data">
        <input id="game_img_to_create" class="game_img_create_style" type="file" placeholder="file" name="file" accept="image/png, image/jpeg" multiple="false">
        <img id="img_of_game" class="game_img" src="/svg/profile.svg" alt="">
      </form>
      <form action="">
        <div>
          <textarea placeholder="Info" name="info" id="game_info_to_create_text" cols="30" rows="10"></textarea>
          <input type="reset" value="reset">
        </div>
      </form>
      <form action="">
        <div class="checkbox_style">Genres</div>
        <div class="checkbox_flex">
          <div id="game_genres_to_create" class="game_genres_to_create">
          </div>
          <input type="reset" value="reset">
        </div>
      </form>
      <div id="game_stats_to_create" class="">
        <form action="">
          <div class="checkbox_style">Platform</div>
          <div id="game_stats_platform_to_create_header" class="">
<!--            <div>-->
<!--              <div></div>-->
<!--              <div id="game_stats_platform_to_create" class="">-->
<!--                <div class="checkbox_style">Windows</div>-->
<!--                <div class="checkbox_flex">-->
<!--                  <div class="platform_checkbox_flex">-->
<!--                    <div class="">-->
<!--                      <input id="game_stats_platform_to_create_label" class="" type="checkbox" placeholder="Platform" name="platform" value="">-->
<!--                      <label class="checkbox_style" for="">Windows 7</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <input type="reset" value="reset">
        </form>
        <form action="">
          <div class="checkbox_style">Release date</div>
          <div id="game_stats_release_date_to_create" class="game_stats_release_date_to_create">
            <input id="game_stats_release_date_to_create_label" class="" type="date" placeholder="Release date" name="release_date" value="">
            <input type="reset" value="reset">
          </div>
        </form>
        <form action="">
          <div class="checkbox_style">Language</div>
          <div id="game_stats_language_to_create" class="game_stats_language_to_create">
          </div>
          <input type="reset" value="reset">
        </form>
        <form action="">
          <div id="game_stats_size_to_create" class="game_stats_size_to_create">
            <input id="game_stats_size_to_create_label" class="" type="text" placeholder="Size" name="size" value="">
            <input type="reset" value="reset">
          </div>
        </form>
        <form action="">
          <div id="game_stats_publisher_to_create" class="game_stats_publisher_to_create">
            <input id="game_stats_publisher_to_create_label" class="" type="text" placeholder="Publisher" name="publisher" value="">
            <input type="reset" value="reset">
          </div>
        </form>
        <form action="">
          <div id="game_stats_developer_to_create" class="game_stats_developer_to_create">
            <input id="game_stats_developer_to_create_label" class="" type="text" placeholder="Developer" name="developer" value="">
            <input type="reset" value="reset">
          </div>
        </form>
        <form action="">
          <div class="checkbox_style">Mode</div>
          <div id="game_stats_mode_to_create" class="game_stats_mode_to_create">
            <div class="game_stats_mode_to_create_label">
              <input id="single_player" class="" type="checkbox" placeholder="Mode" name="mode" value="Single-player">
              <label class="checkbox_style" for="">Single-player</label>
            </div>
            <div class="game_stats_mode_to_create_label">
              <input id="multiplayer" class="" type="checkbox" placeholder="Mode" name="mode" value="Multiplayer">
              <label class="checkbox_style" for="">Multiplayer</label>
            </div>
            <input type="reset" value="reset">
          </div>
        </form>
      </div>
      <div>
        <button id="game_create_button" class="game_create_button">Save</button>
      </div>


      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Kazakh</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">English</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Russian</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">China</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">French</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">German</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Italia</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Japanese</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Korean</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Polish</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Spanish</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Turkish</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Dutch</label>-->
      <!--            </div>-->
      <!--            <div class="game_stats_language_to_create_label">-->
      <!--              <input id="" class="" type="checkbox" placeholder="Language" name="language" value="">-->
      <!--              <label class="checkbox_style" for="">Portuguese</label>-->
      <!--            </div>-->

<!--        <input id="action" class="" type="checkbox" placeholder="Action" name="action" value="">-->
<!--        <label for="action">Action</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Action-Adventure</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Adventure</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Card Game</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Casual</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">City Builder</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Dungeon Crawler</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Exploration</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Fantasy</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Fighting</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Horror</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Music</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Narration</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Open World</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Platformer</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Puzzle</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Racing</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">RPG</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">RTS</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Shooter</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Simulation</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Sports</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Stealth</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Strategy</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Survival</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Tower Defense</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="fps">FPS</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Visual novel</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">MMO</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">MMORPG</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Roguelike</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Battle Royale</label>-->
<!--        <input id="" class="" type="checkbox" placeholder="Genres" name="genres" value="">-->
<!--        <label for="genres">Sandbox</label>-->


<!--      <form action="">-->

<!--        <input type="reset" value="reset">-->
<!--      </form>-->
<!--      <input type="reset" value="reset">-->

<!--      <form action="">-->
<!--        <div>-->
<!--          <input id="game_info_to_create" class="" type="text" placeholder="Info" name="info" value="">-->
<!--          <input type="reset" value="reset">-->
<!--        </div>-->
<!--      </form>-->
<!--      <form action="">-->
<!--        <div>-->
<!--          <input id="game_genres_to_create" class="" type="text" placeholder="Genres" name="genres" value="">-->
<!--          <input type="reset" value="reset">-->
<!--        </div>-->
<!--      </form>-->
<!--      <form action="">-->
<!--        <div>-->
<!--          <input id="game_stats_to_create" class="" type="text" placeholder="Stats" name="stats" value="">-->
<!--          <input type="reset" value="reset">-->
<!--        </div>-->
<!--      </form>-->




    </div>
  </div>
  <%- include('./partials/page_end.ejs') %>
</div>
</body>
</html>