<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My project |
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/icon-style.css">
    <link rel="stylesheet" href="/button-style.css">
    <link rel="stylesheet" href="/map.css">
    <link rel="stylesheet" href="/popup_style.css">
</head>
<body>
    <div>
        <div class="background_image_3">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
                    <div id="map-container" class="map-container">
                        <div class="search-container">
                            <div id="start-search-input-container" class="search-input-container">
                                <input id="start-input" class="search-input" type="text" placeholder="Введите начальное место">
                                <button id="start-delete" class="search-button"></button>
                                <button id="get_location_start" class="get_location hidden">
                                    <img class="get_location_image" src="/svg/show_my_location_not_active.svg" alt="not-active">
                                </button>
                            </div>
                            <div id="end-search-input-container" class="search-input-container">
                                <input id="end-input" class="search-input" type="text" placeholder="Введите конечное место">
                                <button id="end-delete" class="search-button"></button>
                                <button id="get_location_end" class="get_location hidden">
                                    <img class="get_location_image" src="/svg/show_my_location_not_active.svg" alt="not-active">
                                </button>
                            </div>
                        </div>
                        <div id='map' class="map"></div>
                    </div>
                    <!-- onclick="getLocation()" -->
                    <button id="getLocation" >Show My Location</button>
                    <div class="popup_container" id="popup">
                        <span class="close_btn" id="closePopupBtn">&times;</span>
                        <div id="" class="popup_card_header">
                            <div data-id="econom" class="popup_card_style">
                                <img class="popup_card_image popup_card_item_image" src="/svg/cars_logo/car_econom_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="popup_card_name popup_card_name_style">Эконом</div>
                                    <div class="popup_card_price">
                                        <div class="popup_card_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="comfort" class="popup_card_style">
                                <img class="popup_card_image popup_card_item_image" src="/svg/cars_logo/car_comfort_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="popup_card_name popup_card_name_style">Комфорт</div>
                                    <div class="popup_card_price">
                                        <div class="popup_card_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="premium" class="popup_card_style">
                                <img class="popup_card_image popup_card_item_image" src="/svg/cars_logo/car_premium_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="popup_card_name popup_card_name_style">Премиум</div>
                                    <div class="popup_card_price">
                                        <div class="popup_card_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <button id="showPopupBtn">Показать всплывающий интерфейс</button>

                    <div class="popup-container" id="popup">
                        <span class="close-btn" id="closePopupBtn">&times;</span>
                        <h2>Всплывающий интерфейс</h2>
                        <p>Это всплывающий интерфейс, который появляется при выполнении определенной логики.</p>
                    </div> -->
            </div>
        </div>
        <%- include('./partials/page_end.ejs') %>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1nHYl5YE5vomdD0vzdRlfRJEQ9pqZEM&libraries=places"></script>
            <script type="module" src="/static_functions/display_popup.js"></script>
            <script type="module" src="/static_functions/taxi_selection_button_animation.js"></script>
            <script type="module" src="/static_functions/get_my_location_button_animation.js"></script>
            <script type="module" src="/components/map/validate_user_current_location.js"></script>
            <!-- <script type="module" src="/components/taxi/position-get.js"></script>
            <script type="module" src="/components/route-map_copy_2 copy.js"></script> -->
            <script type="module" src="/components/map/create_marker.js"></script>
            <script type="module" src="/components/map/action_event_handler.js"></script>
            <script type="module" src="/components/map/init_map.js"></script>

            <!-- <script type="module" src="/components/validate-order-component.js"></script> -->
            <!-- <script type="module" src="/static_functions/taxi/get-fare-current-user-order.js"></script> -->
            <!-- <script type="module" src="/static_functions/taxi/get-card-data.js"></script> -->
            <!-- <script type="module" src="/components/taxi/get-current-user-order.js"></script> -->
    </div>
</body>
</html>



