<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My project |
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/icon-style.css">
    <link rel="stylesheet" href="/button-style.css">
    <link rel="stylesheet" href="/store_style copy.css">
    <!-- <link rel="stylesheet" href="/map.css"> -->
    <style>
        .popup-container {
            width: 580px;
            height: 140px;
            
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            position: fixed;
            /* bottom: -100%; */
            bottom: 20%;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: #585e5e;
            padding: 20px;
            /* border: 1px solid #ccc; */
            border: 0;
            border-radius: 5px;
            /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
            z-index: 9999;
            transition: bottom 0.5s ease;
        }

        .popup-container.show {
            bottom: 20%;
        }

        .popup-container.hiding {
            bottom: -10%;
            cursor: pointer;
        }

        .popup-container.hiding:hover {
            bottom: -5%;
        }

        .popup-container h2 {
            margin-top: 0;
        }

        .close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }

        .popup-container.hiding .catalog_page_1_list_1_item_1:hover {
    transform: none;
}

.popup-container.hiding .catalog_page_1_list_1_item_1 .item_image {
    transform: none;
}

.popup-container.hiding .catalog_page_1_list_1_item_1 .item_name {
    color: #f2e8d9;
}
    </style>
</head>

<body>
    <div>
        <div class="background_image_3">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
                    <div id="map-container" class="map-container">
                        <div class="search-container">
                            <div id="start-search-input-container" class="search-input-container">
                                <input id="start-input" class="search-input" type="text" placeholder="Введите начальное место">
                                <button id="start-delete" class="search-button"></button>
                            </div>
                            <div id="end-search-input-container" class="search-input-container">
                                <input id="end-input" class="search-input" type="text" placeholder="Введите конечное место">
                                <button id="end-delete" class="search-button"></button>
                            </div>
                        </div>
                        <div id='map' class="map"></div>
                    </div>
                    <button id="showPopupBtn">Показать всплывающий интерфейс</button>

                    <div class="popup-container" id="popup">
                        <span class="close-btn" id="closePopupBtn">&times;</span>
                        <div id="" class="catalog_style">
                            <div class="catalog_page_1_list_1_item_1">
                                <img class="item_image catalog_page_1_list_1_item_image" src="/svg/cars_logo/car_econom_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="item_name catalog_page_1_list_1_item_name catalog_page_1_list_1_item_name_style">Эконом</div>
                                    <div class="catalog_page_1_list_1_item_price">
                                        <div class="catalog_page_1_list_1_item_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog_page_1_list_1_item_1">
                                <img class="item_image catalog_page_1_list_1_item_image" src="/svg/cars_logo/car_comfort_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="item_name catalog_page_1_list_1_item_name catalog_page_1_list_1_item_name_style">Комфорт</div>
                                    <div class="catalog_page_1_list_1_item_price">
                                        <div class="catalog_page_1_list_1_item_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog_page_1_list_1_item_1">
                                <img class="item_image catalog_page_1_list_1_item_image" src="/svg/cars_logo/car_premium_not_active.svg" alt="not-active">
                                <div class="catalog_page_1_list_1_item_info">
                                    <div class="item_name catalog_page_1_list_1_item_name catalog_page_1_list_1_item_name_style">Премиум</div>
                                    <div class="catalog_page_1_list_1_item_price">
                                        <div class="catalog_page_1_list_1_item_price_style">999</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="">
                                <div class="">Комфорт</div>
                            </div>
                            <div class="">
                                <div class="">Премиум</div>
                            </div> -->
                            
                        </div>
                        <!-- <h2>Всплывающий интерфейс</h2>
                        <p>Это всплывающий интерфейс, который появляется при выполнении определенной логики.</p> -->
                    </div>
            </div>
        </div>
        <script>
//             const catalogItems = document.querySelectorAll('.catalog_page_1_list_1_item_1');
            
//             for (let catalogItem of catalogItems) {
//     const itemImage = catalogItem.querySelector('.item_image');
//     const originalPath = itemImage.getAttribute('src');
//     const hoverPath = originalPath.replace('not_active', 'active');

//     catalogItem.addEventListener('mouseenter', () => {
//         if (popup.classList.contains('show')) {
//             itemImage.setAttribute('src', hoverPath);   
//         }
//     });

//     catalogItem.addEventListener('mouseleave', () => {
//         if (popup.classList.contains('show')) {
//             itemImage.setAttribute('src', originalPath);   
//         }
//     });
// }
//             const catalogItems = document.querySelectorAll('.catalog_page_1_list_1_item_1');
            
//             for (let catalogItem of catalogItems) {
//     const itemImage = catalogItem.querySelector('.item_image');
//     const originalPath = itemImage.getAttribute('src');
//     const hoverPath = originalPath.replace('not_active', 'active');

//     catalogItem.addEventListener('mouseenter', () => {
//         itemImage.setAttribute('src', hoverPath);
//     });

//     catalogItem.addEventListener('mouseleave', () => {
//         itemImage.setAttribute('src', originalPath);
//     });
// }
// const svgPaths = document.getElementsByClassName('item_image');

// for (let svgPath of svgPaths) {
//     const originalPath = svgPath.getAttribute('src');
//     // const hoverPath = "/svg/cars_logo/car_econom_active.svg";
//     const hoverPath = originalPath.replace('not_active', 'active');
    
//     svgPath.addEventListener('mouseenter', () => {
//         svgPath.setAttribute('src', hoverPath);
//     });

//     svgPath.addEventListener('mouseleave', () => {
//         svgPath.setAttribute('src', originalPath);
//     });
// }

// const originalPath = svgPath.getAttribute('src');

// const hoverPath = "/svg/cars_logo/car_econom_active/svg";

// svgPath.addEventListener('mouseenter', () => {
//     svgPath.setAttribute('src', hoverPath);
// });

// svgPath.addEventListener('mouseleave', () => {
//     svgPath.setAttribute('src', originalPath);
// });
        </script>
        <%- include('./partials/page_end.ejs') %>
            <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1nHYl5YE5vomdD0vzdRlfRJEQ9pqZEM&libraries=places"></script>
            <script type="module" src="/components/route-map_copy_2 copy.js"></script> -->
            <script type="module" src="/static_functions/displayPopup.js"></script>
            <script type="module" src="/static_functions/taxi_selection_button_animation.js"></script>
    </div>
</body>

</html>



