<div class="header_line">
    <div class="header_logo">
        <a class="logo_cursor" href="/index"><img class="icon" src="/svg/My_Game.svg" alt=""></a>
    </div>
    <div class="nav">
        <a class="nav_link <%= title === 'Profile' ? 'active' : '' %>" href="/profile">Profile</a>
        <a class="nav_link <%= title === 'Store' ? 'active' : '' %>" href="/store">Store</a>
        <a class="nav_link <%= title === 'About' ? 'active' : '' %>" href="/about">About</a>
    </div>
    <div class="header_buy">
        <!-- <% if (title !== 'Basket') { %>
        <div class="basket_icon">
            <a href="/basket"><img src="/svg/basket1.svg" alt=""></a>
        </div>
        <% } %>
            <% if (title !== 'Store') { %>
        <div class="button">
            <a class="button_header" href="/store">Buy now</a>
        </div>
            <% } %> -->
        <div class="profile_icon">
            <a href="/reg"><img src="/svg/profile_1.svg" alt=""></a>
        </div>
    </div>
</div>