<div class="page_end">
    <div class="container">
        <div class="page_end_header">
            <div class="header_line">
                <div class="nav">
                    <a class="nav_link" href="/index">Terms of Use </a>
                    <a class="nav_link" href="/index">Privacy Policy</a>
                    <a class="nav_link" href="/index">FAQ</a>
                </div>
            </div>
            <div class="icon_page_end_header">
                <div class="icon_page_end">
                    <a href="https://discord.gg/UBBWV5tnM5"><img class="icon_page_end_link" src="/svg/discord.svg" alt=""></a>
                    <a href="https://t.me/+4_WYpejfXw43OGMy"><img class="icon_page_end_link" src="/svg/twitter.svg" alt=""></a>
                    <a href="https://www.instagram.com/"><img class="icon_page_end_link" src="/svg/instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>